* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common shared css */

body {
    font-family: 'Lato', sans-serif;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.btn {
    border-radius: 8px;
    background-color: #E55473;
    border: none;
    padding: 20px 43px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

.primary-color {
    color: #E55473;
}

/* bannar area css */

.bannar-area {
    width: 100%;
    background-color: rgba(229, 84, 115, 0.10);
    height: 850px;
}

.bannar-contain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    gap: 97px;
}

.bannar-titel {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

.bannar-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 32px 0px;
    max-width: 634px;
}

/* main section css start here */

/*  our-featured-flowers css start here  */
.our-featured-flowers {
    padding-top: 178px;
}

.featured-flowers-titel {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 24px;
}

.featured-flowers-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    padding: 0px 400px 50px;
}

.flowers {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.item {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    position: relative;
}

.flower-img {
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 60px;
    right: 50px;
}

.flower-img-3 {
    text-align: center;
    position: absolute;
    bottom: 50px;
    left: 50px;
    right: 50px;
}

.item-1 {
    background-color: rgba(167, 33, 98, 0.15);
}

.item-2 {
    background-color: rgba(5, 151, 160, 0.15);
}

.item-3 {
    background-color: rgba(71, 125, 17, 0.15);
}

.item-name {
    padding-top: 32px;
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

/*  our support css start here */

.supports {
    display: flex;
    margin-top: 128px;
    justify-content: space-evenly;
    background-color: rgba(39, 39, 39, 0.05);
    padding: 87px 130px;
    border-radius: 8px;
    text-align: center;
    gap: 100px;

}

.sup-desciption {
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 600;
    padding-top: 24px;
}

/* hot deal css start here */

.hot-deal {
    background-color: rgba(229, 84, 115, 0.05);
    margin-top: 128px;
}

.hot-deal-area {
    height: 620px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hot-deal-text {
    text-align: center;
    padding: 0px 100px;
}

.hot-deal-titel {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 24px;
}

.hot-deal-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 0px 80px 32px;
}

.hot-deal-img {
    padding: 0px 100px;
}

/* Instagram css start here */

.instagram {
    margin-top: 128px;
}

.instagram-titel {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}

.instagram-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 24px 350px 48px;
}

.photos {
    display: flex;
    gap: 24px;
}

/* latest deals css start here */
.the-latest-deals {
    margin-top: 128px;
    margin-bottom: 128px;
}

.latest-deals {
    height: 449px;
    background-image: url('../images/Rectangle 9.png');
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.latest-deals-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.latest-deals-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    padding: 16px 0px 48px;
}

.email {
    height: 63px;
    width: 700px;
    padding: 22px;
    border: none;
    outline: none;
    border-radius: 8px;
    margin-right: 16px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
}